*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
html,body{
    width:100%;
    height: 100%;
}
#page1{
    width: 100%;
    min-height: 100vh;
    background-color:#EfEAE3;
    position: relative;
    padding: 0 3vh;
}
nav{
    width:100%;
    padding: 3vh 4vh;

    display:flex;
    justify-content: space-between;
}
#part_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1vw;
}
#part_2 h4 a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.794);
    
}
#part_2 h4{
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.718);
    border-radius: 50px;
    font-weight: 500;
    position: relative;
    font-size: 18px;
    overflow: hidden;
    color:#000000bb;
    
    
}
#part_2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.5s;
}
#part_2 h4:hover::after{
 
    bottom: 0;
    border-radius: 0;

}
#part_2 h4 a{
    color:#000000bb;
    position: relative;
    z-index: 9;
}
#part_2 h4:hover a{
    color:white;
}
#center{
    width:100%;
    height:65vh;
    align-items:flex-end;
    display:flex;
    justify-content: space-between;
    padding-right: 2.5vw;
    border-bottom: 1px solid #0000002a;

}
#left{
    font-size: 1.5vw;
    width:30vw;
    padding-left:1.9vw;
    line-height: 3.6vh;
    padding-bottom: 2vh;
    font-weight:800;
}
#right  {
        font-size:3.9vw;
        text-align: right;    
}
#page1 video{
    
    border-radius:35px;
    margin-top: 3vw;
    width:100% ;
    position: relative;
  
}
#hero-shape{
    width:40vw;
    height:50vh;
    /* border-radius:50%; */
    position:absolute;
    right:0;
    filter:blur(20px);
    top:65vh;
    

}
#hero1{
    
    border-radius:30%;
    position:absolute;
    right:0;
    width:100%;
    height:100%;
    border-top-left-radius:10vw;
    border-bottom-left-radius:10vw;
    background-color:orangered;
    filter: blur(20px);
    position: absolute;
    animation-name:anime1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
}
#hero2{
    border-top-left-radius:30vw;
    border-bottom-left-radius:10vw;
    position: absolute;
    width:100%;
    height: 100%;
    background-color:orangered;
    filter: blur(20px);
    animation-name: anime1;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;


}
#hero3{
    border-top-left-radius:30vw;
    border-bottom-left-radius:10vw;
    position: absolute;
    width:100%;
    height: 100%;
    background-color:orangered;
    filter: blur(20px);


}
@keyframes anime1{
    form{
        transform:translate(55%,-3%);
    }
    to{
        transform:translate(0%,55%);
    }
}
#page2{
    min-height: 100vh;
    width:100%;
    padding-top: 5vw;
    background-color:none;
    position: relative;
  

   
}
#moving-text{
    white-space:nowrap;
    overflow-x: scroll;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#moving-text h1{
    font-size: 13vh;
    display: inline-block;
  
}
#con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration:10s;

}
#gola{
    width:70px;
    height: 70px;
    background-color: orangered;
    border-radius: 50%;
    margin: 1.5vh  3vh;
    display: inline-block;
}
@keyframes move {
    fomr{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#page_2_bottom{
    width:100%;
    height: 80vh;
    /* background-color: aquamarine; */
    display: flex;
    margin-top:10vw;
    position: relative;



}
#page_2_bottom_left h1{
    width:70vw;
    font-size: 7.5vh;
    padding-left: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    z-index: 30;
   
}

#page_2_bottom_right img{
    width:20vw;
    border-radius:4vh;
    border-top-right-radius: 4vh;
    padding-right: 3vh;
   
}
#page_2_bottom_right p{
    font-size: 3vh;
    font-family: 'Times New Roman', Times, serif;
    margin-top:4vw;
    justify-content: center;
}
#gooye{
    width:30vw;
    height: 30vw;
    background:linear-gradient(to top right,rgba(255, 64, 0, 0.883),rgba(255, 132, 0, 0.786));
    border-radius:50%;
    top:40%;
    left:30%;
    filter: blur(20px);
    position: absolute;
    animation-name:move1;
    animation-duration:6s;
    animation-timing-function: ease-in-out;
    animation-timing-function: linear;
    animation-delay:alternate;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes move1 {
    from{
        transform: translate(10%,10%)skew(0);
    }
    to{
        transform: translate(-10%,10%)skew(-12deg);
    }
}
#page3{
    min-height: 100vh;
    width:100%;
    background-color: #EFEAE3;

}
/* #elem{
    height: 150px;
    width:100%;
    position: relative;
    border-bottom: 1px solid black;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}
#elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}
#elem,#overlay{
    height: 100%;
    width:100%;
    background-color: orange;
    position: absolute;
    left:0;
    top:-100%;
    
}
#elem:hover #overlay{
    top:0;
} */
#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

#elem {
    height: 150px;
    width: 100%;
    position: relative;

    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

#elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

#elem #overlay {
    height: 100%;
    width: 100%;
    background-color: orangered;
    position:absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

#elem:hover #overlay {
    top: 0;
}
#fiexd_image{
    width:50vh;
    height:60vh;
    /* background-color: red; */
    border-radius: 10px;
    z-index: 300;
    position: fixed;
    left:45%;
    top:50%;
    display:none;
}
/* #page4{
    height: 70vh;
    width:100%;
    padding:10vw 2vw;
    background-color: aliceblue;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {

   
    border-left: 1px solid black;
    width:30%;
    padding: 0 2vw;
   
  } */
  #page4 {
    height: 60vh;
    width: 100%;
    background-color: #EFEAE3;
    padding:  6vw 2vw;
    
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 21px;
    /* background: #fff; */
    border-left: 1px solid rgb(162, 160, 160);
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }

  .swiper-slide img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
    padding:2vw;
    align-items: center;
  }
  .swiper-slide p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 2vw;
    font-style: italic;
  }

  #gola1{
    width:15px;
    height: 15px;
    background-color: orangered;
    display: flex;
    border-radius: 30px;
    bottom: 0;
  }   
  #title{
    display: flex;
    gap:10px;
   
}
 
   
#page5{
    height:100vh;
    width:100%;
    /* background-color: aliceblue; */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    /* background-color: black; */
    z-index: 10;
    position: relative;
}
#footer{
    position: fixed;
    height: 100vh;
    z-index: 9;
    width:100%;
    background-color: black;
    bottom: 0;
    color:white;
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
    flex-direction: column;
  
}
#footer h1{
    font-size:21.5vw;
    padding-left:0.5%;
    font-family: Arial, Helvetica, sans-serif;

}
#footer_top{
    width:100%;
    height:90vh;
    /* background-color: red; */
    display: flex;
}
#footer_left{
    width:70%;
    font-size:2vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-left:5%;
    padding-top:2%;
    /* background-color: wheat; */

}
#footer_rigth{
    width:30%;
    font-size:1vw;
    padding-left:5%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    /* background-color:aqua; */

}
#footer_rigth h3{
    font-size:1vw;
    padding-top:4%;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(161, 149, 149, 0.943);
    width:22vw;
    color:rgba(227, 211, 211, 0.838);
    padding-bottom: 2%;
}
#footer_bottom{
    width:100%;
    height:40vh;
    /* background-color: red; */
    display: flex;
   padding-left: 12px;
    border-top: 1px solid rgb(201, 190, 190);
    border-width:2px;
}
#footer_first{
    width:25%;
    /* background-color:#EfEAE3; */
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    padding-top:15px;
    color: white;
    padding-left:40px;
    

    
}
#footer_second{
    width:25%;
    /* background-color:#EfEAE3; */
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    padding-top:15px;
    padding-left:40px;
    color: white;

    
}

#footer_third{
    width:25%;
    /* background-color:#EfEAE3; */
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    padding-top:15px;
    padding-left:40px;
    color: white;

    
}

#footer_four{
    width:25%;

    /* background-color:#EfEAE3; */
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    padding-top:15px;
    padding-left:40px;
    color: white;

    
}

/* #gola1{
    width:100vw;
    height:110vh;
    background-color:orangered;
    border-top-right-radius: 40%;
    
    border-bottom-right-radius: 40%;
    filter: blur(20px);
}
#gola2{
    width:50vw;
    height:40vw;
    background-color:orangered;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    filter: blur(20px);
}
#gola3{
    width:10000vw;
    height:20vh;
    background-color:orangered;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    filter: blur(20px);
} */
 

/* #page6,#right1{
    width:50%;
    background-color: yellow;
} */
#page6 {
    width: 100%;
    height: 120vh;
    /* margin-left:2vw;
    margin-right: 2vw; */
    display: flex;
    background-color:rgba(233, 101, 54, 0.951);
    border-top-left-radius: 2vw;
    border-bottom-left-radius:2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius:2vw;
   
}

.left-side {
    width: 50%;
    padding: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:black;
    color:white;
    gap: 30px;
    border-top-left-radius: 21vw;
    border-bottom-left-radius:21vw;
    filter: blur(1px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-left: 10px solid white;
}
.left-side h1{
    font-size:10vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.right-side {
    width: 50%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
    /* border-top-left-radius:2vw;
    border-bottom-left-radius:2vw; */
    border-top-right-radius: 21vw;
    border-bottom-right-radius:21vw;
    /* filter:brightness(21px); */
    border-right: 10px solid white;

}

.interactive-text {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.interactive-text:hover {
    transform: scale(1.1);
}
